!!! Strict
%html{ :lang => "en", :"xml:lang" => "en", :xmlns => "http://www.w3.org/1999/xhtml" }

  %head
    %link{ :type => "text/css", :rel => "stylesheet", :href => "/css/default.css" }
    %title= "Landmarkr"

  %body
    #content
      %h1= "Landmarkr"
      = yield